<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="오키도키">
  <meta name="author" content="오키도키 승원">
  <meta name="generator" content="Jekyll v4.1.1">
  <meta property="og:title" content="옷키도키 무신사인기">
  <meta property="og:description" content="인기인">
  <meta property="og:image" content="images/kakao.png">
  <title>옷덕후</title>
  <!-- Bootstrap CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65945715-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-65945715-4');
  </script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ui fixed inverted menu" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand" href="/">💓옷덕후</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarsExample07" style="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">바지</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">

              <li>  <a class="dropdown-item" href="/003007/<%= months[2] %>">코튼</a></li>
              <li><a class="dropdown-item" href="/003009/<%= months[2] %>">숏 팬츠</a></li>
              <li>   <a class="dropdown-item" href="/003004/<%= months[2] %>">트레이닝/조거</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">상의</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              <li><a class="dropdown-item" href="/001001/<%= months[2] %>">반팔</a></li>
              <li><a class="dropdown-item" href="/001010/<%= months[2] %>">긴팔</a></li>
              <li><a class="dropdown-item" href="/001005/<%= months[2] %>">맨투맨</a></li>
              <li><a class="dropdown-item" href="/001004/<%= months[2] %>">후드</a></li>
              <li><a class="dropdown-item" href="/001006/<%= months[2] %>">니트</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">아우터</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              <li><a class="dropdown-item" href="/002022/<%= months[2] %>">후드집업</a></li>
              <li><a class="dropdown-item" href="/002020/<%= months[2] %>">카디건</a></li>
              <li><a class="dropdown-item" href="/002023/<%= months[2] %>">폴리스/뽀글이</a></li>
              <li><a class="dropdown-item" href="/002018/<%= months[2] %>">트레이닝 재킷</a></li>
              <li><a class="dropdown-item" href="/002015/<%= months[2] %>">기타 아우터</a></li>
            </ul>
          </li>
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-white text-decoration-none" >  <%= user.username %>님 하이</li></a>
            <a class="me-3 py-2 text-white text-decoration-none" href="/logout">로그아웃</a>
       
          </nav>
        </ul>
      </div>

    

    </div>
  </nav>
  <main class="ui main container" style="margin-top:7rem;">
    <section id = "months" class = "mb-5">
     <a href = "<%= months[0] %>" class="ui teal button">3월</a>
     <a href = "<%= months[1] %>" class="ui teal button">4월</a>
     <a href = "<%= months[2] %>" class="ui teal button">5월</a>
    </section>   
    <div class="row flex-row-reverse ">
      <div class="col-lg-3">
        <div class="ui fluid card">
          <div class="image">
            <table class="ui celled striped table" style="height:78vh;">
              <thead>
                <tr>
                  <th colspan="2">
            
                    <a class = "title" href='<%= hoodies[0].link %>' target = "_blank" alt = '<%= hoodies[0].title %>' >
                      <%= hoodies[0].title %>
                     </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="collapsing" style = "width:30%">
                    가격
                  </td>
                  <td>
                    <%= hoodies[0].price %>
                  </td>
                </tr>
                <tr>
                  <td>
                    사이즈
                  </td>
                  <td>
                    <%= hoodies[0].size %>
                  </td>
                </tr>
                <tr>
                  <td>
                    판매량
                  </td>
                  <td>
                    <%= hoodies[0].sales_qty %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="ui fluid card" style="width: 100%; height: 78vh; overflow-y: auto;">
        <div class="image">
          <a href='<%= hoodies[0].link %>'>
            <img src="<%= hoodies[0].first_img %>"  width="100%"></a>
        </div>
         <% for(var i=1; i < hoodies.length; i++) { %>        
                 <% if(hoodies[i].link!=hoodies[i-1].link){ %>
                  </div>
                  </div>
                </div>            
            </div>
              <div class="row flex-row-reverse my-3">
                <div class="col-lg-3">
                  <div class="ui fluid card">
                    <div class="image">
                      <table class="ui celled striped table" style="height:78vh;">
                        <thead>
                          <tr>
                            <th colspan="2">
                               <a href='<%= hoodies[i].link %>' target = "_blank" class = "text-dark"><%= hoodies[i].title %></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                          <td class="collapsing" style = "width:30%">
                              가격
                            </td>
                            <td>
                              <%= hoodies[i].price %>
                            </td>      
                          </tr>
                          <tr>
                            <td>
                              사이즈
                            </td>
                            <td>
                              <%= hoodies[i].size %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              판매량
                            </td>
                            <td>
                              <%= hoodies[i].sales_qty %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="ui fluid card" style="width: 100%; height: 78vh; overflow-y: auto;">
                  <div class="image">
                    <a href='<%= hoodies[i].link %>' target = "_blank"> 
                      <img src="<%= hoodies[i].first_img %>" width="100%">
                    </a>
                  </div>
              <%  } else { %>
                <div class="image">
                  <a href="<%= hoodies[i].link %>" target="_blank">
                    <img src="<%= hoodies[i].detail_img %>" width="100%"></a>
            </div>
            <% } %>
          <% } %>
  </main>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>
</html>